{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 3 versions"]
                },
                "debug": true
            }
        ],
        "babel-preset-react",
        "react"
    ]
}